html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image: url('js/mountains-1427955_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(145, 166, 173,0.4);
}

.input-box h1 {
  text-align: center;
  font-size: 1.5em;
  background-color: #d7d7d7:
}

.text-box {
  margin: auto;
  width: 70%;
  height: 90%;
  border-radius: 10px;
}
.messages-container {
  background-color: #f7f7f7;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  overflow: scroll;




}
p{
  width: 80%;
  margin-left: 16%;
  text-align: center;
  border: 3px solid #34aadc;
  border-radius: 15px;
  background-color: #34aadc;
  color:white;
  font-size: 17px;
}

.input-box {
  width: 50%;
  background-color: #d7d7d7;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}
